@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
    color: #091133;
    
  }
  
  html,
  body {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    position: relative;
    background-color: #f5f5f5;  
    padding-bottom: 50px;
  }
  
  nav img {
    width: 60px;
    height: 60px;
  }
  
  nav {
    left: 50%;
    transform: translateX(-50%);
    top: 2.5%;
    width: 90%;
    height: 5%;
    min-height: 100px;
    display: flex;
    border-radius: 1rem;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    background: #fff;
    position: fixed;
    z-index: 999;
    transition: 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    border: 1px solid rgba(0, 0, 0, 0.089);
  }
  
  .nav_attach {
    border-radius: 0 0 1rem 1rem;
    top: 0;
  }
  
  .navlinks {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 500px;
  }
  
  .navlinks li {
    text-decoration: none;
    list-style: none;
  }
  
  .navlinks li a {
    text-decoration: none;
    color: rgb(24, 24, 24);
    font-size: clamp(0.5em, 2vw, 1.3em);
  }
  
  .logo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    margin-left: 50px;
  }
  
  .logo h1 {
    color: rgb(48, 48, 48);
    font-size: clamp(0.75em, 2vw, 1.5em);
  }
  .blogHeader {
    position: relative;
    margin-top: 0px;
    width: 100%;
    height: 350px;
    background-color: rgb(224, 170, 69);
    background-image: url('/assets/img/headerImage.jpg');
    background-size: cover;
    background-position: top center;
    /* border-bottom: 10px solid #B01F1C; */
  }
  
  .blogHeader h1 {
    padding: 50px;
    padding-top: 240px;
    font-size: 60px;
    color: #f3f6fd;
  }
  
  .blogHeaderBorder{
    position: absolute;
    width: 100%;
    height: 10px;
    display: flex;
    flex-direction: row;
    bottom: 0;
  }
  
  .blogHeaderBorder div:nth-child(1){
    flex: 0.5;
    background-color: #B01F1C;
  }
  .blogHeaderBorder div:nth-child(2){
    flex: 0.25;
    background-color: #ce8500;
  }
  .blogHeaderBorder div:nth-child(3){
    flex: 0.25;
    background-color: #B01F1C;
  }

.timetableContainer {
  background-color: #f3f6fd;
    border-radius: 15px;
    -webkit-box-shadow: 5px 5px 16px -7px rgba(0,0,0,0.67); 
box-shadow: 5px 5px 16px -7px rgba(0,0,0,0.67);
  width: 80%;
  height: min-content;
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 1rem;
}

.classButtons {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
}

.classButtons button {
  background-color: #e6ae14;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 20px 20px;
  font-weight: 700;
}

footer{
  width: 100%;
  height: 100%;
  background-color: #F8F8F8;
  border-top: 1px solid rgba(0, 0, 0, 0.089);
  display: flex;
  flex-direction: column;
  padding: 0 50px;
}

.footerTitle{
  display: flex;
  justify-content:center;
  height:12.5%;
  padding: 20px 0 0 0;
}

.footerTitle img{
  height: 100%;
}

.footerSections{
  width: 100%;
  flex: 0.7;
  display: flex;  
  border-bottom: 1px solid rgba(0, 0, 0, 0.089);
}

.dataSet{
  width: 100%;
}

.contactSection{
justify-content: space-evenly;
 height: 100%;
 flex: 0.4;
 display: flex;
 flex-direction: column;
 padding: 10px 30px 5% 30px;
}

.dataSet input{
  outline-width: 0;
  background-color: #fff;
  width:100%;
  height:10%;
  min-height:50px;
  padding:5px 10px;
  border: none;
  border-left: 10px solid #B01F1C;
}

.dataSet textarea {
  outline-width: 0;
  background-color: #fff;
  width:100%;
  resize: none;
  height:20%;
  min-height:100px;
  padding:5px 10px;
  border: none;
  border-left: 10px solid #ce8500;
}

.contactSection p {
  font-size: 0.9em;
}

.contactSection button {
  outline-width: 0;
  background-color: rgb(224, 170, 69);
  /* color: #fff; */
  font-weight: 500;
  width:75%;
  resize: none;
  padding:10px;
  border: none;
}

.documentsSection{
  height: 100%;
  flex: 0.2;
  padding: 30px 30px 5% 30px;
}

.documentsSection p{
  cursor: pointer;
}

.documentsSection h3{
  margin-top: 20px;
}

.documentsSection p{
  font-size: 0.8em;  
  margin-top: 10px;
}

.inquiriesSection{
  height: 100%;
  flex: 0.4;
  padding: 30px 30px 5% 30px;
}

.inquiries{
  background-color: #f3f5f6;
  width: 100%;
  height: fit-content;
  padding: 30px 30px 5% 30px;
}

.inquiries li{
  display: flex;
  margin-top: 20px;
}

.inquiries b{
  white-space: pre;
}

.abhiyogaSec{
  display: flex;
  justify-content: space-between;
}

.abhiyogaSec div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
}

.abhiyogaSec div p{
  bottom: 0;
}

@media only screen and (max-width: 850px) {
  .abhiyogaSec div p{
    bottom: 0;
    font-size: 12.5px;
  }
  .studentNo {
    flex-direction: column;
    width: 200px;
  }
  footer{
    height: fit-content;
    padding: 0 25px;
  }
  .footerSections{
    flex-direction: column;
  }
  .inquiriesSection{
    padding: 30px 0px 5% 0px;
  }
  .inquiries{
    background-color: #f3f5f6;
    width: 100%;
    height: fit-content;
  }
  .contactSection{
    min-height: 500px;
  }
  .footerTitle img{
    max-height: 75px;
  }
  .abhiyogaSec div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
    margin-top: auto;
  }
  .searchBox{
    position: absolute;
    /* top: 50px; */
    margin: 50px 0;
    left: 50%;
    transform: translateX(-50%);
    /* right:0; */
    outline-width: 0;
    width: 75%;
    min-height: 40px;
    background-color: #fff;
    border-radius: 10px;
    padding:5px 10px;
    border: 1px solid rgba(0, 0, 0, 0.089);
  }
  #noResultNotification{
    position: absolute;
    /* top: 50px; */
    margin: 125px 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .blogHeader h1{
    font-size: clamp(30px, 5.5vw, 60px);
    text-align: center;
  }
  .inquiriesSection{
    padding: 30px 0px 5% 0px;
  }
  .inquiries{
    background-color: #f3f5f6;
    width: 100%;
    height: fit-content;
  }
  .contactSection{
    min-height: 500px;
  }
  .inquiries li label{
    display: grid;
    place-items: center;
  }
  .inquiries li label > p {
    font-size: 0.75em;
  }
  .inquiries li label > b {
    font-size: 0.75em;
  }
}