* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    height: 100%;
  }
  
  body {
    font-family: sans-serif;
  }

  nav img {
    width: 60px;
    height: 60px;
  }
  
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    padding: 10px;
    align-items: center;
    background: rgb(240, 240, 240);
  }
  
  .navlinks {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 500px;
  
  }
  
  .navlinks li {
    text-decoration: none;
    list-style: none;
  }
  
  .navlinks li a {
    text-decoration: none;
    color: rgb(24, 24, 24);
    font-size: 20px;
  }
  
  .logo {
    display: flex;
    flex-direction: row;
    justify-content: space-even;
    align-items: center;
    width: 300px;
    margin-left: 50px;
  }
  
  .logo h1 {
    color: rgb(48, 48, 48);
  }
  
  
  .inner h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: rgb(255, 255, 255);
  }

  .inner h2 {
    position: absolute;
    text-align: center;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(197, 197, 197);
  }
  
  .stats {
    height: 100vh;
    width: 90%;
    margin: auto;
    color: black;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    
  }
  
.stats h1 {
    font-size: 60px;
  }

.studentImage {
  width: 350px;
}

.studentNo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 150px;
}

.boardname{
  
  position: absolute;
  z-index: 9;
  color: white;
  font-size: 50px;
  top: 120vh;
  text-align: center;
  width: 100%;
}
header {
position: relative;
width: 100%;
height: 100vh;
overflow: hidden;
}

.inner {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-image: url("../img/headerImage.jpg");
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
}

.timelineContainer{
  width: 80%;
  margin: auto;
  margin-top: 100px;
}

.timelineContainer h1 {
  font-size: 60px;
  text-align: center;
}

#header-front
{
top: 25.3125vw;
  left: calc(52.65% - 65.98958333333333vw / 2);
  width: 65.98958vw;
  position: absolute;
  z-index: 3;
  height: auto;
}

#header-stones
{
    position: absolute;
  top: 35.08333vw;
  left: 0;
  width: 100%;
  height: auto;
}

section {
width: 100%;
height: 1000px;
}

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline-badge.primary {
  background-color: #2e6da4 !important;
}
.timeline-badge.success {
  background-color: #3f903f !important;
}
.timeline-badge.warning {
  background-color: #f0ad4e !important;
}
.timeline-badge.danger {
  background-color: #d9534f !important;
}
.timeline-badge.info {
  background-color: #5bc0de !important;
}
.timeline-title {
  margin-top: 0;
  margin-bottom: 20px;
  color: rgb(78, 78, 78);
}
.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}
.timeline-body > p + p {
  margin-top: 5px;
}


  
@media only screen and (max-width: 600px) {
  .studentNo {
    flex-direction: column;
    width: 200px;
  }
}